{% extends 'base.html' %}
{% block title %} Cliente{% endblock %}
{% block content %}
{% if info_enviada %}
    Gracias por enviar un dato
    <br>
    La informacion resibida es la siguiente
    <br>
    <p> Correo Usado: {{ email }}</p>
    <p>Titulo escrito: {{ titulo }}</p>
    <p>Texto Citado:</p> <br> <h3>{{ texto }}</h3>
{% else %}
    <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit"/>
    </form>
{% endif %}

{% endblock %}