
{% extends 'base.html' %}
{% block title %} Inicio - Bienvenidos {% endblock %}
{% block content %}
     {{ Productos.Imagen }}
            <table width="289" border="2" align="center"  >
                <br><br><br><br><br><br><br>
                <Marquee scrollAmount="6"  ><font color="blue"> Bienvenidos al Sistema </Marquee>
                <tr bgcolor="E0FFFF" style="color: #FFFFFF; font-weight: bold; ">
                    <td colspan="2" align="center" ><font color="blue"><h1>Login</h1></td>
                </tr>
                    <tr>
                        <td> <font color="blue"> Usuario  :</font></td><td> <input name="username" size=15 type="text" align="center" /> </td>
                    </tr>
                    <tr>
                        <td><font color="blue">  Contraseña  :</font></td><td> <input name="password" size=15 type="password" align="center" /> </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Iniciar Sesion" align="center" style="background:cyan"/>

                    </tr>
                    <br><br>
                    <tr>
                </tr>
                </table>
            <br>

            <br>
{% endblock %}